{{define "base"}}
  <!DOCTYPE html><html lang="en">

    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style type="text/css">

body {
  font-family: Helvetica , Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: #f36c3d;
}

.section {
  background: #fff;
  padding: 0;
}

.box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  display: block;
  padding: 1.25rem;
}
      .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
      }




      .issues, .issue {
        background: #f6f6f6;
        border-radius: 10px;
        text-align: left;
        padding: 0;
        font-size: 1rem;
      }
      .issue-preview {
            margin: 0;
      }


      .issue-links {
        background: #fff;
      }

      .issue-link {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      }

      .issue-description {
        color: #666;
        font-weight: 300;
      }

      .codereads, .tools {
      }

      .issue-sponsor {
        margin: 0.5rem 0;
        padding: 0rem 0.5rem;
        border-left: 2px solid #333;
      }
      .issue-sponsor .sponsor-action {
        background: #ffffd9;
        padding: 0.25rem;
        color: #666;
        font-weight: 400;
        font-size: 0.95rem;
        text-decoration: none;
      }
      .issue-sponsor .issue-description {
        margin: 0;
        color: #333;
      }

      .title {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.125;
        color: #f36c3d;
        word-break: break-word;
        margin: 0.5em;
      }

      .subtitle {
        color: #f36c3d;
        font-size: 0.95rem;
        font-weight: 300;
        line-height: 1.25;
        word-break: break-word;
      }

      </style>

    </head>

    <body>

      {{ template "content" . }}

      <div style="text-align: center; margin-top: 1rem;">
         *|REWARDS|*
      </div>
    </body>
  </html>
{{ end }}


{{ define "scripts" }}{{ end }}
  {{ define "post_scripts"}} {{ end }}
    {{ define "subscribe_form"}} {{ end }}

    {{ define "issue" }}
      <div class="issue">
        <div class="issue-preview">
          <div class="issue-preview__inner">
            <div style="background: #f36c3d; padding: 1rem 0; text-align: center">
              <h1 class="title" style="color: #fff; text-align: left; margin: 0.5rem;">Better Dev #{{ .Name }}
                <span class="subtitle" style="color: #fff; float: right; dipslay: block; margin: 0.5rem 0 0 0">{{ .Time }}</span>
              </h1>
            </div>

            {{ if .Description }}
            <div>
              <div style="padding: 1rem 0.5rem 0rem 0.5rem; font-size: 1rem;" class="issue-intro">
                <p style="color: #666">{{ .Description }}</p>
              </div>
            </div>
            {{ end }}

            <div class="issue-links">
              {{ range $key, $link := .Links }}
                {{ if $link.IsSponsor }}
                <div class="issue-sponsor">
                  <a style="font-size: 1.2rem; font-weight: 400; text-decoration: underline;" href="{{ $link.URI }}" target="_blank">{{ $link.Title }}</a> <span style="color: #f36c3d;">(SPONSOR)</span>
                  <p class="issue-description">{{ $link.Description }}</p>
                  <a class='sponsor-action' href ="{{ $link.URI }}" target='_blank'>{{ $link.Action }}</a>
                </div>
                {{ else }}
                <div class="issue-link">
                  <a style="font-size: 1.2rem; font-weight: 400; text-decoration: underline;" href="{{ $link.URI }}" target="_blank">{{ $link.Title }}</a><br>
                  <span style="color: #333; font-weight: 300;">{{ $link.Description }}</span>
                </div>
                {{ end }}

              {{ end }}


              {{ if .CodeToRead }}
              <div style="padding: 1rem 1rem 0rem 1rem; font-size: 1rem;">
                <h3 class="subtitle"><strong>Code to read</strong></h3>
                {{ range $key, $link := .CodeToRead }}
                <div style="padding: 0 0 1rem 0" class="issue-link">
                  <a class="codereads" style="font-size: 1.1rem; text-decoration: underline;" href="{{ $link.URI }}" target="_blank">{{ $link.Title }}</a><br>
                </div>
                {{ end }}
              </div>
              {{ end }}

              {{ if .Tools }}
              <div style="padding: 1rem 1rem 0rem 1rem; font-size: 1rem;">
                <h3 class="subtitle"><strong>Tools</strong></h3>
                {{ range $key, $link := .Tools }}
                <div style="padding: 0 0 1rem 0" class="issue-link">
                  <a class="tools" style="font-size: 1.1rem; text-decoration: underline;" href="{{ $link.URI }}" target="_blank">{{ $link.Title }}</a>
                </div>
                {{ end }}
              </div>
              {{ end }}

              <div style="padding: 0 1.5rem;">
                <div style="border: 1px solid #f1f1f1; margin: 1.5rem 0;"></div>
                That's it for this round, have a great day! If you like this newsletter, please tell the world!<br>
                <br>
                You can <a href="https://betterdev.link/issues/{{ .Name }}">view this issue in web browser</a>.

								<p>If you have any suggestion/feedback, do tell me by replying to this email. I read them all.</p>

                <br><br>
                <span style="font-size: 0.95rem;">No longer want to receive these emails? <a href="*|UNSUB|*">Unsubscribe</a></span>
              </div>
            </div>

          </div>
        </div>
      </div>


    {{ end }}
