{{ define "title"}}
	<title>Better Dev Link - Resource around the web on becoming a better programmer</title>
{{ end }}

{{ define "content" }}

<section class="hero is-medium has-text-centered">
	<div class="hero-body">
		<div class="container">
			<h1 class="title is-1">Better Dev Link</h1>
			<h2 class="subtitle is-4">Weekly links to help you become a better developer</h2>

			<p class="">
			<strong>BetterDev.Link</strong> collects links around the web that aims to help you learn something new. The topics aren't tight to any
			specific programming languages, technologies or frameworks but attempt to include resources that might help you learn
			a thing or two from them.
			</p>
		</div>
	</div>
</section>

{{ template "subscribe_form" . }}

<section class="section is-medium">
	<div class="container">
		<h3 class="title is-2">Here is the latest issue</h3>
    {{ template "issue" .Issue  }}
	</div>
</section>

{{ template "subscribe_form" . }}

{{ end }}
