{{ define "title"}}
	<title>Better Dev Link - Resource aroudn the web on becoming a better programmer</title>
{{ end }}

{{ define "content" }}

<div class="container intro">
	<h3 class="title">Receive weekly link to become a better developer!</h3>
	<p>
	BetterDevLink collects links around the web that aim to help you learn something news. The topic isn't tight to any
	specific programming languages, technologies, frameworks but attempt to include resource that you will be usually learn
	a thing or two from reading them.
	</p>

	<div id="mc_embed_signup">
		<form action="//space.us16.list-manage.com/subscribe/post?u=9de46dc813d5d82a7fae2d89e&amp;id=00b181d8f7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe-form" target="_blank" novalidate>
			<fieldset>
				<div class="row">
					<div class="column">
            <div class='subscribe-form__field'>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
					</div>
				</div>

				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9de46dc813d5d82a7fae2d89e_00b181d8f7" tabindex="-1" value=""></div>

				<div class="row">
					<div class="column">
						<div id="mce-responses" class="clear">
							<div class="response noty" id="mce-error-response" style="display:none"></div>
							<div class="response noty" id="mce-success-response" style="display:none"></div>
						</div>
					</div>
				</div>

			</fieldset>


		</form>
	</div>

	<h3 class="title">Lastest issue</h3>
	<div class="issue">
		<div class="issue-preview">
			<div class="issue-preview__inner">
				<div style="background: #fff; padding-bottom: 0.5rem">
					<div style="padding: 1.5rem; background: #373f52; color: #d5dae6">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tbody><tr>
									<td>
										<img src="https://elixirweekly.net/o/editor/48.png" width="32" height="32" style="width: 32px; height: 32px; vertical-align: text-bottom;" alt="Logo">
										<span style="font-size: 1.5rem; color: #d5dae6;">
											<a href="http://elixirweekly.net" style="font-size: 1.5rem; color: #d5dae6; text-decoration: none;">ElixirWeekly</a>
										</span> <span style="font-size: 0.875rem; color: #8692af; white-space: nowrap;">by <a href="http://elixirstatus.com" style="font-size: 0.875rem; color: #8692af; white-space: nowrap; text-decoration: none;">@</a></span>
									</td><td style="text-align: right" align="right"><span style="font-size: 1.5rem; color: #d5dae6;">Issue #47</span></td></tr></tbody></table>
					</div>

					<div style="padding: 1.5rem 1.5rem 0rem 1.5rem;">
						<div style="color: #373f52; font-size: 1.25rem; margin: 0 0 0.5rem 0; line-height: 1.25; font-weight: bold;">This week in Elixir</div>

						<p>
						<a style="font-size: 1.125rem; text-decoration: underline;" href="https://github.com/rrrene/credo/blob/master/CHANGELOG.md" target="_blank">Credo v0.8.0 released</a><br>


						<span style="color: #666;">Credo is a static code analysis tool emphasizing code consistency and teaching. This release introduces major internal refactorings which result in less memory consumption and an overall faster analysis.</span>

						</p>

						<p>
						<a style="font-size: 1.125rem; text-decoration: underline;" href="https://github.com/uesteibar/neuron" target="_blank">Neuron: A GraphQL client for Elixir</a><br>


						<span style="color: #666;">Unai published the first version of Neuron, a tiny GraphQL client for Elixir.</span>

						</p>

						<p>
						<a style="font-size: 1.125rem; text-decoration: underline;" href="https://shankardevy.com/phoenix-book/" target="_blank">New Book - Phoenix Inside Out</a><br>


						<span style="color: #666;">Rebuild a mini-Phoenix framework and learn to use Phoenix framework with confidence!
						</span>

						</p>

						<p>
						<a style="font-size: 1.125rem; text-decoration: underline;" href="http://www.devonestes.com/refactoring-for-tests-in-elixir/" target="_blank">Refactoring for Tests in Elixir</a><br>


						<span style="color: #666;">Need to test that tricky function? Here’s a story of a refactoring that allowed Devon to add some good new tests for a new feature in Benchee.</span>



						<span style="color: #666;"></span>

						</p>

						<p>
						<a style="font-size: 1.125rem; text-decoration: underline;" href="https://blog.grillwork.io/https-blog-grillwork-io-mastering-elixir-regex-e5b9f46671af" target="_blank">Learning Regex with Elixir: Tips, Tricks &amp; Caveats</a><br>


						<span style="color: #666;">The jump start Drew wished he’d had when setting out to learn regular expressions in Elixir. How it works, what sets Elixir's Regex module apart, handling Unicode and more</span>

						</p>

						<p>
						<a style="font-size: 1.125rem; text-decoration: underline;" href="https://www.dailydrip.com/blog/elixirsips-198-elixir-and-unity3d" target="_blank">[VIDEO] Elixir and Unity3D</a><br>


						<span style="color: #666;">In this episode of ElixirSips Josh ties a spaceship simulator in with Unity3D via an impromptu TCPServer.</span>

						</p>


					</div>


					<div style="padding: 1.5rem 1.5rem 0rem 1.5rem;">
						<div style="color: #373f52; font-size: 1.25rem; margin: 0 0 0.5rem 0; line-height: 1.25; font-weight: bold;">Even more from around the Elixir community</div>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://til.hashrocket.com/posts/2c8e7b4b39-compile-time-purge-level" target="_blank">TIL - Compile time purge level</a>
						<span style="background: #b066ff; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Misc</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://til.hashrocket.com/posts/86cb47debf-remove-get-and-compile-a-dependency" target="_blank">TIL - Remove, Get, And Compile a dependency</a>
						<span style="background: #b066ff; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Misc</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://www.youtube.com/watch?v=Z3qwpLMSYvU&amp;feature=youtu.be" target="_blank">Growth of Elixir Meetups</a>
						<span style="background: #e62117; color: #ffffff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Video</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://www.youtube.com/watch?v=6ra_JHNAjdw&amp;feature=youtu.be&amp;list=PLWbHc_FXPo2i2HVxbp25pst4v5d6WmhNM" target="_blank">Interview with José Valim at ElixirConf EU</a>
						<span style="background: #e62117; color: #ffffff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Video</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://youtu.be/1g8Ct9J2TS8" target="_blank">Learn String Interpolation in 30 seconds</a>
						<span style="background: #e62117; color: #ffffff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Video</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://www.youtube.com/watch?v=7u2kIbIzv0s" target="_blank">Understanding Maps  |  Zero to Hero #5</a>
						<span style="background: #e62117; color: #ffffff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Video</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://medium.com/@bhserna/refactoring-a-big-function-in-elixir-e6141dfcf6f2" target="_blank">Refactoring a big function in Elixir</a>
						<span style="background: #e62117; color: #ffffff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Video</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://elixirconf.com" target="_blank">ElixirConf US - 5-8 Sep - Bellevue</a>
						<span style="background: #009be6; color: #ffffff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Conference</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="http://www.elixir.london" target="_blank">Elixir.LDN 2017 - 17 Aug - London</a>
						<span style="background: #009be6; color: #ffffff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Conference</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://niallburkley.com/blog/elixir-filter-map/" target="_blank">How to use Elixir's Enum.filter_map</a>
						<span style="background: #12982e; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Blog post</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="http://blog.scoutapp.com/articles/2017/05/30/monitoring-genserver-calls-with-scout" target="_blank">Monitoring GenServer calls with Scout</a>
						<span style="background: #12982e; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Blog post</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://medium.com/@mattludwigs/map-compose-capture-oh-my-53c70a71d3e5" target="_blank">Map, Compose, Capture Oh My</a>
						<span style="background: #12982e; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Blog post</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://subvisual.co/blog/posts/137-tutorial-deploying-elixir-applications-with-docker-and-digital-ocean" target="_blank">Deploying Elixir applications with Docker and Digital Ocean</a>
						<span style="background: #12982e; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Blog post</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="http://mendrugory.weebly.com/blog/the-easiest-distributed-producer-consumer-system" target="_blank">The Easiest Distributed Producer-Consumer System</a>
						<span style="background: #12982e; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Blog post</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://hackernoon.com/phoenix-is-better-but-rails-is-more-popular-8975d5e68879?platform=hootsuite" target="_blank">Phoenix is better but Rails is more popular</a>
						<span style="background: #12982e; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Blog post</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://davejlong.com/2017/05/24/writing-a-custom-action-in-exadmin/" target="_blank">Writing a Custom Action in #ExAdmin</a>
						<span style="background: #12982e; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Blog post</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://hmans.io/posts/2017/05/24/elixir-phoenix-use-cases.html" target="_blank">What are some use cases where Elixir/Phoenix is more advantageous than Ruby/Rails?</a>
						<span style="background: #12982e; color: #fff; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Blog post</span>  
						</p>

						<p>
						<a style="font-size: 1rem; text-decoration: underline;" href="https://github.com/nccgroup/sobelow" target="_blank">Sobelow, the Phoenix vulnerability scanner - v0.3.0</a>
						<span style="background: #ffe100; color: #222222; font-size: 11px; border-radius: 3px; padding: 3px; white-space: nowrap">Project update</span>  
						</p>


					</div>


					<div align="center" style="text-align: center">
						<a href="http://elixirstatus.com/?ref=elixirweekly" target="_blank" class="btn-primary" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: normal; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; background-color: #725c96; margin: 0; border-color: #725c96; border-style: solid; border-width: 10px 20px;">Submit your blog post/project update</a><br>
					</div>

					<div style="padding: 0 1.5rem;">

						<div style="border: 1px solid #f1f1f1; margin: 1.5rem 0;"></div>

						That's it for this round, have a great day!<br>
						<a href="https://github.com/rrrene">@rrrene</a> from <a href="http://elixirweekly.net">ElixirWeekly</a><br>
						<br>

						If you like this newsletter, please tell the world!<br>

						<br>
						You can <a href="http://elixirweekly.net/issues/47">view this issue in your web browser</a>.

					</div>

				</div>

			</div>
		</div>

	</div>


</div>
{{ end }}


{{ define "post_scripts"}}
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{{ end }}
