{{ define "title"}}
	<title>Better Dev Link - Resource around the web on becoming a better programmer</title>
{{ end }}

{{ define "content" }}

<section class="hero is-medium has-text-centered">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">Better Dev Links</h1>
			<h2 class="subtitle">Weekly links to become a better developer!</h2>
			<p>
			<strong>BetterDev.Link</strong> collects links around the web that aim to help you learn something news. The topic isn't tight to any
			specific programming languages, technologies, frameworks but attempt to include resource that you will be usually learn
			a thing or two from reading them.
			</p>
		</div>
	</div>
</section>

{{ template "subscribe_form" . }}

<section class="section is-medium">
	<div class="container">
		<h3 class="title is-2">Here is the lastest issue</h3>

		<div class="issue">
			<div class="issue-preview">
				<div class="issue-preview__inner">
					<div style="background: #fff; padding: 50px 0; text-align: center">
						<h1 class="title">Better Dev Link</h1>
						<h2 class="subtitle">Issue #1 - May 30, 2017</h2>
          </div>

					<div class="issue-links">
						<div style="padding: 1.5rem 1.5rem 0rem 1.5rem;" class="issue-link">
							<p>
							<a style="font-size: 1.125rem; text-decoration: underline;" href="https://github.com/rrrene/credo/blob/master/CHANGELOG.md" target="_blank">Credo v0.8.0 released</a><br>

							<span style="color: #666;">Credo is a static code analysis tool emphasizing code consistency and teaching. This release introduces major internal refactorings which result in less memory consumption and an overall faster analysis.</span>

							</p>
						</div>

						<div style="padding: 0 1.5rem;">
							<div style="border: 1px solid #f1f1f1; margin: 1.5rem 0;"></div>
							That's it for this round, have a great day! If you like this newsletter, please tell the world!<br>
							<br>
							You can <a href="https://betterdev.link/issues/1">view this issue in your web browser</a>.
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>
</section>

{{ template "subscribe_form" . }}

{{ end }}


{{ define "post_scripts"}}
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{{ end }}
