{{ define "title"}}
	<title>Better Dev Link - Resource around the web on becoming a better programmer</title>
{{ end }}

{{ define "content" }}

<section class="section is-medium">
	<div class="container">
    {{ template "issue" .Issue  }}
  </div>
</section>

{{ template "subscribe_form" . }}

{{ end }}

