{{ define "title"}}
	<title>Better Dev Link - Resource around the web on becoming a better programmer</title>
{{ end }}

{{ define "content" }}

<section class="section is-medium">
	<div class="container">

		<h3 class="title is-2  has-text-centered">Issues Archive</h3>
    <div class="box">
    <ul>
      {{ range $key, $issue := .Issues }}
        <li class="issue-item">
          <a class="finder-item-link" href="/issues/{{ $issue.Name }}">Issues #{{ $issue.Name }}</a>
          <span class="light light--meta">{{ $issue.Time }}</span>
        </li>
      {{ end }}
    </ul>
    </div>

	</div>
</section>

{{ template "subscribe_form" . }}

{{ end }}

