{{ define "title"}}
	<title>Better Dev Link - Resource around the web on becoming a better programmer</title>
{{ end }}

{{ define "content" }}

{{ template "issue" .Issue  }}

{{ template "subscribe_form" . }}

{{ end }}

