{{ define "title"}}
	<title>Better Dev Link - Resource around the web on becoming a better programmer</title>
{{ end }}

{{ define "content" }}

<section class="section is-medium has-text-centered">
	<div class="container">

		<h3 class="title is-2">Issues Archive</h3>
    <div class="box">
    <ul>
        <li class="issue-item">
          <a class="finder-item-link" href="/issues/1">Issues #1</a>
          <span class="light light--meta">June 6, 2017</span>
        </li>
    </ul>
    </div>

	</div>
</section>

{{ template "subscribe_form" . }}

{{ end }}

