{{ define "title"}}
	<title>Better Dev Link - Resource around the web on becoming a better programmer</title>
{{ end }}

{{ define "content" }}
  <section class="section is-medium issue-links">
  <div class="container">
    {{ template "post" .Body  }}
  </div>
</section>

{{ template "subscribe_form" . }}

{{ end }}
