{{ define "base" }}{{ "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>" | safe }}
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
  <title>Better Dev Link</title>
    <link>https://betterdev.link</link>
    <description>Better Dev Link - Resource around the web on becoming a better programmer, published every Monday and sent directly to your inbox.</description>
    <language>en</language>
    <copyright>2017</copyright>
    <atom:link href="https://betterdev.link/rss.xml" rel="self" type="application/rss+xml" />
    {{ range $key, $issue := .Issues }}
      <item>
        <title>Issues #{{ $issue.Name }} {{ $issue.Time }}</title>
        <link>https://betterdev.link/issues/{{ $issue.Name }}</link>
        <guid>https://betterdev.link/issues/{{ $issue.Name }}</guid>
        <pubDate>{{ $issue.FormatPubTime }}</pubDate>
        <description>
         {{ "<![CDATA[" | safe }}<h1>Better Dev Link - Resource around the web on becoming a better programmer</h1>
         <p>{{ $issue.Description }}</p>
         <ul>
          {{ range $key, $link := $issue.Links }}
          <li>
           <a href="{{ $link.URI }}">{{ $link.Title }}</a>
           <p>
            {{ $link.Description }}
           </p>
          </li>
          {{ end }}
         </ul>
          {{ if .CodeToRead }}
            <h3 class="subtitle"><strong>Code to read</strong></h3>
            <ul>
            {{ range $key, $link := .CodeToRead }}
              <li><a style="font-size: 1rem; text-decoration: underline;" href="{{ $link.URI }}" target="_blank">{{ $link.Title }}</a></li>
            {{ end }}
            </ul>
          {{ end }}

          {{ if .Tools }}
            <h3 class="subtitle"><strong>Tools</strong></h3>
            <ul>
            {{ range $key, $link := .Tools }}
              <li><a style="font-size: 1rem; text-decoration: underline;" href="{{ $link.URI }}" target="_blank">{{ $link.Title }}</a></li>
            {{ end }}
            </ul>
          {{ end }}{{ "]]>" | safe }}
        </description>
      </item>
    {{ end }}
  </channel>
</rss>
{{ end }}
