<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Become a better developer - together</title>

		<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
	</head>

	<body>
		<section class="section section-header bg-gray">
			<section class="grid-header container grid-960">
				<nav class="navbar" id="app-nav">
					<section class="navbar-section">
						<a href="#sidebar" class="btn btn-lg btn-link btn-action show-sm"><i class="icon icon-menu"></i></a>
						<a href="#" class="navbar-brand mr-10">BetterDev</a>
          </section>
          <section class="navbar-section">
            <div class="input-group input-inline has-icon-left">
                <input class="form-input" type="text" placeholder="search" />
                <i class="form-icon icon icon-search"></i>
							<button class="btn btn-primary input-group-btn">Search</button>
						</div>
					</section>
          <section class="navbar-section" id="profile-menu"> <a onclick="lock.show();" href="#" target="" class="btn btn-primary">Login</a> </section>
				</nav>
			</section>
		</section>

		<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
		<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <!--
    <section class="section section-hero bg-gray" id="onboard">
      <section id="overview" class="grid-hero container grid-960 text-center">
        <h1>Help developer become better by sharing useful links</h1>
        <h2><u>Share</u> a link, <u>help</u> other developer learn</h2>
        <div class="columns">
          <div class="column">
            <a href="#" class="btn btn-primary">Login to share</a>
            <a href="#" target="_blank" class="btn btn-primary">Share with Slack</a>
            <a href="https://telegram.me/yeolinks_bot" target="_blank" class="btn btn-primary">Share with Telegram</a>
          </div>
        </div>
        <div class="columns">
          <div class="column col-4 col-xs-12">
            <div class="card text-center">
              <div class="card-header">
                <span class="card-title">Useful</span>
              </div>
              <div class="card-body">
                We hope to create
              </div>
            </div>
          </div>
          <div class="column col-4 col-xs-12">
            <div class="card text-center">
              <div class="card-header">
                <span class="card-title">Equal</span>
              </div>
              <div class="card-body">
                No pin, no point, no favor. All links are equal, downloaded, indexed and searchable.
              </div>
            </div>
          </div>
          <div class="column col-4 col-xs-12">
            <div class="card text-center">
              <div class="card-header">
                <span class="card-title">Flexible Workflow</span>
              </div>
              <div class="card-body">
                Wanna help out but don't have time to go here! Install our bot, post link right from there.
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    -->
    <main class="container grid-960" id="app-wrapper">
      <div id="app-postform" class='post-form'></div>
      <%= render @view_module, @view_template, assigns %>
    </main>

		<footer class="bg-gray">
			<section id="copyright" class="grid-footer container grid-960">
				<p>
				<a href="https://betterdev.link" target="_blank">Weekly News Letter</a> | <a href="https://twitter.com/notyim" target="_blank">Twitter</a> | Version <span class="version"></span>
				</p>
				<p>Code while learning by <a href="https://noty.im" target="_blank">Vinh</a>. Design by <a href="https://lapa.ninja" target="_blank">Tinh</a>. Sponsored by <a href="https://noty.im" target="_blank">noty.im</a>.</p>
			</section>
		</footer>

    <script src="https://cdn.auth0.com/js/lock/10.16/lock.min.js"></script>
		<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	</body>
</html>
