body {
  font-family: Helvetica,Arial,sans-serif
}

.hero.is-primary {
  background-color: #9b4dca;
}

a {
  color: #9b4dca;
}

.octocat {
  border: 0;
  color: #f4f5f6;
  fill: #9b4dca;
  height: 5.2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 5.2rem;
  z-index: 1
}
.octocat:hover .octocat-arm {
  animation: b .56s infinite;
  transform-origin: 13rem 10.6rem
}
.octocat .octocat-arm,
.octocat .octocat-body {
  fill: #f4f5f6
}
.issue {
  background: #f6f6f6;
  border-radius: 10px;
  text-align: left;
  padding: 1.5rem 0;
}
.issue-preview {
  margin: 0 1.5rem;
}


.issue-link:hover {
      background: #f2f2f2;
    }
