body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.hero.is-primary {
  background-color: #f36c3d;
}

a {
  color: #f36c3d;
}

.octocat {
  border: 0;
  color: #f4f5f6;
  fill: #f36c3d;
  height: 5.2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 5.2rem;
  z-index: 1
}
.octocat:hover .octocat-arm {
  animation: b .56s infinite;
  transform-origin: 13rem 10.6rem
}
.octocat .octocat-arm,
.octocat .octocat-body {
  fill: #f4f5f6
}

.issue-links {
  background: #fff;
}

.issue-link a {
  text-decoration: none;
  border-bottom-width: 1px !important;
  border-bottom-color: #ddd !important;
  border-bottom-style: solid !important;
}

.issue-link p {
  display: inline;
  color: #666;
}

@media screen and (max-width: 1000px) {
  .issue-links {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.issues, .issue {
  background: #f6f6f6;
  border-radius: 10px;
  text-align: left;
  padding: 1.5rem 0;
  font-size: 1rem;
}
.issue-preview {
  margin: 0 1.5rem;
}

.issue-item:hover, .issue-link:hover {
  background: #fff;
}

.issue-sponsor {
  margin: 0.5rem 0;
  padding: 0rem 1rem;
  border-left: 2px solid #9b4dca;
  background: #fffedb;
}
.issue-sponsor .badge {
  font-size: 0.7em;
  color: #f36c3d;
}
.issue-sponsor .sponsor-action {
  background: #ffffd9;
  padding: 0.25rem;
  color: #666;
  font-weight: 400;
  font-size: 0.95rem;
  text-decoration: none;
}
.issue-sponsor .issue-description {
  margin: 0;
}

.intro {
}

.light {
  border-radius: 2px;
  color: rgba(0,0,0,0.48);
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.2;
  opacity: 0.5;
  padding: 2px 4px;
  white-space: nowrap;
}


